<div class="card card-primary card-outline card-outline-tabs">
    <div class="card-header p-0 border-bottom-0">
        <ul class="nav nav-tabs" id="{{ id }}-tab" role="tablist">
            {% for tab in tabs %}
            <li class="nav-item">
                <a class="nav-link {{ forloop.first|yesno:'active,' }}" id="{{ id }}-{{ tab|slugify }}-tab" data-toggle="pill"
                   href="#{{ id }}-{{ tab|slugify }}" role="tab" aria-controls="{{ id }}-{{ tab|slugify }}" aria-selected="false">{{ tab }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="{{ id }}-content">
            {% for tab, template in tabs.items %}
            <div class="tab-pane fade {{ forloop.first|yesno:'active show,' }}" id="{{ id }}-{{ tab|slugify }}" role="tabpanel"
                 aria-labelledby="{{ id }}-{{ tab|slugify }}-tab">
                {% include template %}
            </div>
            {% endfor %}
        </div>
    </div>

</div>
