<div class="card card-primary card-outline card-outline-tabs" x-data="{ active: '{{ tabs.selected }}' }">
    <div class="card-header p-0 border-bottom-0">
        <ul class="nav nav-tabs">
            {% for link in tabs.links %}
            <li class="nav-item">
                <a class="nav-link" :class="{'active': active=='{{ link.index }}'}"
                    :role="active!='{{ link.index }}' ? 'button': ''"
                    :style="active=='{{ link.index }}' ? 'cursor: default;' : ''"
                    @click="active='{{ link.index }}'"
                    >{{ link.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-body">
        {% for link in tabs.links %}
        <div class="tab-content" x-show="active == '{{ link.index }}'" hx-get="{{ link.url }}" hx-swap="innnerHTML" hx-trigger="load">
        </div>
        {% endfor %}
    </div>
</div>
