<div class="card card-primary card-outline card-outline-tabs" x-data="{ active: '{{ tabs.selected }}' }" hx-target="this" hx-swap="outerHTML">
    <div class="card-header p-0 border-bottom-0">
        <ul class="nav nav-tabs">
            {% for link in tabs.links %}
            <li class="nav-item">
                <a class="nav-link" :class="{'active': active=='{{ link.index }}'}"
                    {% if tabs.selected != link.index %}
                        role="button"
                        @click="active='{{ link.index }}'"
                        hx-get="{{ url }}?selected={{ link.index }}"
                        hx-trigger="click"
                    {% else %}
                        style="cursor: default;"
                    {% endif %}
                    >{{ link.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" hx-target="this" hx-swap="innerHTML" hx-trigger="load" hx-get="{{ tabs.active.url }}">
        </div>
    </div>
</div>
