<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <span class="big-icon">️️{{ icon }}</span>
            <p class="m-3">You have no {{ title|lower }} yet. Let's start by making a new one!</p>
            <button type="button" class="btn btn-success"
                    data-toggle="modal" :data-target="'#' + $id('modal')"
                    {{ button_attrs }}>
                    <i class="fas fa-plus"></i> Create {{ title|lower }}</button>
        </div>
    </div>
</div>
