<div class="info-box bg-gradient-{{ alert }} m-0">
    <span class="info-box-icon"><i class="{{ icon }}"></i></span>
    <div class="info-box-content">
        <span class="info-box-text text-lg" style="text-shadow: 1px 1px 3px grey;">{{ title }}</span>
        <span class="info-box-number text-md">{{ value }}</span>
        <div class="progress">
            <div class="progress-bar" style="width: {{ percent }}%"></div>
        </div>
        <span class="progress-description">{{ comments }}</span>
    </div>
</div>
