<script x-init="panel_page='{{ slug_panel }}'">
    document.title= "{{ title }}";
</script>
<div id="panel_header_left" hx-swap-oob="innerHTML">
    <h1 class="m-0 pl-3">️{{ icon }} {{ title }}</h1>
</div>
<div id="panel_header_right" hx-swap-oob="innerHTML">
    <ol class="breadcrumb float-sm-right" id="panel_breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        {% for name, url in breadcrumb.items() %}
        <li class="breadcrumb-item {{ 'active' if loop.last }}">
            {% if not loop.last and url %}<a href="{{ url }}" hx-get="{{ url }}" hx-target="#page" hx-push-url="true">{{ name }}</a>{% else %}{{ name }}{% endif %}
        </li>
        {% else %}
        <li class="breadcrumb-item active">{{ title }}</li>
        {% endfor %}
    </ol>
</div>
